.cutbox {
    width: 1.8vw;
    height: 3.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cutbox:hover {
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, #FFFFEF 100%);
    border-radius: 0.2vw;
}

.cutbox1 {
    width: 1.8vw;
    height: 3.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, #FFFFEF 100%);
    border-radius: 0.2vw;
}