.img {
    width: 52vw;
    height: 42vh;
}

.box {
    width: 52vw;
    height: 42vh;
    /* background-color: aqua; */
    position: absolute;
    left: 24vw;
    top: 29vh;
    z-index: 999;
}

.close {
    position: absolute;
    z-index: 99;
    right: 2vw;
    top: 3.6vh;
    height: 2.2vh;
}