.part {
    position: absolute;
    left: -17vw;
    bottom: 7.4vh;
    width: 5.3vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sbutton {
    display: flex;
    padding-left: 1.4vw;
    width: 100%;
    height: 2.8vh;
    color: white;
    background-image: url('../../../../../pages/groupIntro/sevenSeries/image/normal.png');
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0.75rem;
    line-height: 2.5vh;
}