.head {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    z-index: 50;
    background-color: rgba(83, 174, 255, 0.5);
    display: flex;
    justify-content: center;
}

.clock {
    position: absolute;
    top: -30px;
    right: -86px;
}