.clockclass {
    width: '400px';
    height: '100px';
    background-image: linear-gradient(#005fb2,#58a2d9);
    border-radius: 16px;
}

.hourclass {
    line-height: 130px;
    font-size: 55px;
    color: white;
    font: Arial,sans-serif;
    margin-left: 40px;
}

.secondsclass {
    font-size: 30px;
    color: white;
    margin-left: 6px;
    font: Arial,sans-serif;
}

.dateclass {
    color: white;
    float: right;
    margin: 20px 70px 20px 20px;
}

.lunbo {
    font-size: 55px;
    color: white;
}
